

/*====================================================
                  BUTTON (Generic)
======================================================*/

    .btn-general {
        background-color: transparent;
        text-align: center;
        border-width: 1px;
        font-size: 16px;
        padding: 10px 15px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
    }

    .btn-white {
        border-color: #37dbf5;
        background-color: #37dbf5;
        color: #fff;
    }

    .btn-white:hover,
    .btn-white:focus {
        background-color: transparent;
        color: #37dbf5;
        cursor: pointer;
    }

    .btn-greenish-blue {
        border-color: #37dbf5;
        color: #37dbf5;
    }

    .btn-greenish-blue:hover,
    .btn-greenish-blue:focus {
        background-color: #37dbf5;
        color: #fff;
        cursor: pointer;
    }

    .heading-border {
        width: 100px;
        height: 5px;
        background-color: #37dbf5;
        margin: 0 auto 20px auto;
    }

    .heading-border-light {
        width: 30px;
        height: 5px;
        background-color: #37dbf5;
        margin: 0 0 20px 0;
    }



/*====================================================
                        MASTHEAD
======================================================*/

    section.masthead {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 150px;
        padding-bottom: 100px;
        color: white;
        background: #087cf9;
        background: -webkit-linear-gradient(to left, #087cf9, #37dbf5);
        background: linear-gradient(to left, #087cf9, #37dbf5);
    }

    section.masthead .header-content {
        max-width: 500px;
        text-align: center;
    }

    section.masthead .device-mockup.iphone6_plus.portrait.white>.device,
    section.masthead .device-mockup.iphone6_plus.white>.device {
        margin: 90px 0 0 0;
        width: 270px;
        height: 550px;
    }

    section.masthead .header-content h1 {
        font-size: 30px;
    }

    section.masthead .device-container {
        max-width: 270px;
        margin-right: auto;
        margin-left: auto;
    }

    section.masthead .device-container .screen img {
        border-radius: 3px;
    }

    .bg-banner-img img {
        position: absolute;
        width: 100%;
        margin-top: -50%;
    }

    @media (min-width: 992px) {
        section.masthead {
            height: 100vh;
            padding-top: 0;
            padding-bottom: 0;
        }
        section.masthead .header-content {
            margin-bottom: 0;
            text-align: left;
        }
        section.masthead .header-content h1 {
            font-size: 40px;
            font-weight: 700;
            margin: auto;
        }
        section.masthead .device-container {
            max-width: 325px;
        }
    }

    @media (max-width: 991px) {
        section.masthead .device-mockup.iphone6_plus.portrait.white>.device,
        section.masthead .device-mockup.iphone6_plus.white>.device {
            margin: 50px 0 0 0;
            width: 270px;
            height: 550px;
        }
    }

