

/*====================================================
                  BUTTON (Generic)
======================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.btn-white {
    border-color: #37dbf5;
    background-color: #37dbf5;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #37dbf5;
    cursor: pointer;
}

.btn-greenish-blue {
    border-color: #37dbf5;
    color: #37dbf5;
}

.btn-greenish-blue:hover,
.btn-greenish-blue:focus {
    background-color: #37dbf5;
    color: #fff;
    cursor: pointer;
}

.heading-border {
    width: 100px;
    height: 5px;
    background-color: #37dbf5;
    margin: 0 auto 20px auto;
}

.heading-border-light {
    width: 30px;
    height: 5px;
    background-color: #37dbf5;
    margin: 0 0 20px 0;
}



/*====================================================
                    MASTHEAD
======================================================*/

section.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: #087cf9;
    background: -webkit-linear-gradient(to left, #087cf9, #37dbf5);
    background: linear-gradient(to left, #087cf9, #37dbf5);
}

section.masthead .header-content {
    max-width: 500px;
    text-align: center;
}

section.masthead .device-mockup.iphone6_plus.portrait.white>.device,
section.masthead .device-mockup.iphone6_plus.white>.device {
    margin: 90px 0 0 0;
    width: 270px;
    height: 550px;
}

section.masthead .header-content h1 {
    font-size: 30px;
}

section.masthead .device-container {
    max-width: 270px;
    margin-right: auto;
    margin-left: auto;
}

section.masthead .device-container .screen img {
    border-radius: 3px;
}

.bg-banner-img img {
    position: absolute;
    width: 100%;
    margin-top: -50%;
}

@media (min-width: 992px) {
    section.masthead {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    section.masthead .header-content {
        margin-bottom: 0;
        text-align: left;
    }
    section.masthead .header-content h1 {
        font-size: 40px;
        font-weight: 700;
        margin: auto;
    }
    section.masthead .device-container {
        max-width: 325px;
    }
}

@media (max-width: 991px) {
    section.masthead .device-mockup.iphone6_plus.portrait.white>.device,
    section.masthead .device-mockup.iphone6_plus.white>.device {
        margin: 50px 0 0 0;
        width: 270px;
        height: 550px;
    }
}

button {background: transparent;border: 0;font-size: 12px;}

/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    color: #505866;
    font-size:24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.section-header h2 span{text-transform: lowercase;}
.section-header p{
    font-size:16px;
}
/* section-header */
.fix{position: relative;clear: both;}
/*=============Style css=========*/


/*-------------------------------------
        6. Works 
--------------------------------------*/
.works{padding: 0 0 90px;}
.works-content {margin-top: 73px;}

.single-how-works{
    text-align: center;
    padding:50px 42px;
    border-radius: 3px;
    box-shadow: 0 0px 5px rgba(71,71,71,.2);
    margin-bottom: 30px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

.single-how-works-icon {
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
}
.single-how-works h2 a {
    font-size:  18px;
    margin: 35px 0 20px;
    color: #505866;
}
.single-how-works h2 a span {text-transform:  lowercase;}
.single-how-works p {margin-bottom: 25px;text-transform: initial;}

.single-how-works-icon [class^="flaticon-"]:before,.single-how-works-icon [class*=" flaticon-"]:before,.single-how-works-icon [class^="flaticon-"]:after,.single-how-works-icon [class*=" flaticon-"]:after {font-size: 35px;}
.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {color:#6B85FF;}

.welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
}

.single-how-works:hover h2 a,.single-how-works:hover p{color: #fff;}
.single-how-works:hover .single-how-works-icon{background: #fff;}
.single-how-works:hover .welcome-hero-btn.how-work-btn{background: #fff;color: #6B85FF;}
.single-how-works:hover{box-shadow: 0 0px 10px rgba(71,71,71,.4);background: #6B85FF;}


/*====================================================
                        DOWNLOAD
======================================================*/
.download-app {
    background: #37dbf5; }
    .download-app h1, .download-app p {
      color: #fff; }
    .download-app .apple {
      text-align: right; }
      .download-app .apple img {
        height: 63px; }
    .download-app .android {
      text-align: left; }
      .download-app .android img {
        height: 63px; }
    @media (max-width: 767px) {
      .download-app .apple {
        text-align: center; }
        .download-app .apple img {
          height: 63px;
          margin-bottom: 30px; }
      .download-app .android {
        text-align: center; }
        .download-app .android img {
          height: 63px; } }
    .download-app .device-container {
      width: 300px;
      max-height: 350px;
      overflow: hidden;
      margin: 0 auto; }
  
/*-------------------------------------
        7. Explore
--------------------------------------*/

#featured img{
    height:150px;
    width:100%;
  }
  
  #featured div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  #featured .card{
    transition:0.5s;
    cursor:pointer;
  }
  #featured .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  #featured .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  #featured .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  #featured .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  #featured .card-text{
    height:80px;  
  }
  
  #featured .card::before, .card::after {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  #featured .card::before {
    transform-origin: left top;
  }
  #featured .card::after {
    transform-origin: right bottom;
  }
  #featured .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

.explore{
    padding:117px 0 95px;
    background: #f8fafb;
}
.explore-content{margin-top: 78px;}

.single-explore-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 3px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.single-explore-img{
    position:relative;
    overflow: hidden;
}
.single-explore-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
}
.single-explore-img-info {
    position: absolute;
    bottom:-20px;
    left: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-explore-item:hover .single-explore-img-info{
    opacity:1;
    visibility:visible;
    bottom:0px
}
.single-explore-img-info button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 83px;
    height: 21px;
    line-height: 21px;
    background: #6B85FF;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}
.single-explore-image-icon-box {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right:  10px;
}
.single-explore-image-icon-box ul li {
    display:  inline-block;
    width: 30px;
    height:  28px;
    line-height:  28px;
    background: #252d32;
    text-align:  center;
    margin-left:  5px;
    color:  #cbcccd;
}
.single-explore-image-icon-box ul li:hover i{color: #267dff;}

.single-explore-txt {
    padding: 26px 25px 24px 15px;
}
.single-explore-txt.bg-theme-1 .explore-rating{background: #70a9ff;}
.single-explore-txt.bg-theme-2 .explore-rating{background: #00c61c;}
.single-explore-txt.bg-theme-3 .explore-rating{background: #ffcc5d;}
.single-explore-txt.bg-theme-4 .explore-rating{background: #bd70ff;}
.single-explore-txt.bg-theme-5 .explore-rating{background: #ff7a40;}

.explore-rating-price,.explore-rating-price a {
    font-size: 12px;
    color: #777f85;
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px 0 20px;
}
.explore-rating-price a {margin:0;}
.explore-rating {
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 10px;
}
.explore-price {color: #f63138;}
.explore-price-box {
    display: inline-block;
    padding: 0 10px;
    margin: 0 8px;
    border-left: 1px solid #dde0e4;
    border-right: 1px solid #dde0e4;
}
.explore-person {
    padding-bottom: 28px;
    border-bottom: 1px solid #e1e5eb;
}
.explore-person-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.explore-person p {font-size: 12px;}
.explore-open-close-part {
    margin-top: 20px;
}
.close-btn {
    color: #f63138;
    text-transform: capitalize;
}
.close-btn.open-btn {color: #00c437;}
.explore-map-icon{text-align: right;}
.explore-map-icon a svg {
    width: 12px;
    height: 14px;
    margin-left: 23px;
    color: #767f86;
}
.explore-map-icon a svg:hover{color: #f63138;}
.single-explore-txt.bg-theme-2 .explore-map-icon a svg:hover{color: #00c437;}
.single-explore-item:hover{box-shadow: 0 10px 20px rgba(21,19,19,.2);}


/*-------------------------------------
        11. Subscribe
--------------------------------------*/
.subscription{
    background: #f8fafb;
    padding:150px 0;
}
/*subscribe-title*/
 .subscribe-title {margin-bottom: 52px;}

.subscribe-title h2{
    font-size:24px;
    font-weight: 500;
    text-transform: uppercase;
}
.subscribe-title p{
    color:#7b8088;
    font-size:16px;
    font-weight: 500;
    margin-top: 28px;
}/*subscribe-title*/


/*custom-input-group*/
.subscription-input-group {
    position: relative;
    text-align: center;
    max-width: 630px;
    margin:0 auto;
}

.subscription-input-group .subscription-input-form{
    display: inline-block;
    width: 630px;
    height: 60px;
    padding-left:30px;
    font-size: 16px;
    color: #a5adb3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #fff;
    box-shadow: 0 0px 10px rgba(21,19,19,.1);
     -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
}
.subscription-input-group:hover .subscription-input-form{
    box-shadow: 0 5px 20px rgba(21,19,19,.4);
}
/*custom-input-group*/

/*appsLand-btn*/
.appsLand-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #6B85FF;
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    text-transform:capitalize;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.appsLand-btn:hover, .appsLand-btn:focus, .appsLand-btn:active {
    text-decoration: none;
    outline: none;
}
.appsLand-btn:hover {
    box-shadow:0 5px 10px rgba(71,71,71,.4);
    background: #4D80B3 ;
}
/*appsLand-btn*/

/*-------------------------------------
        12. Footer
--------------------------------------*/
.footer-menu {padding: 45px 0;}
.footer-menu .navbar-header{padding:0;}
.footer-menu .navbar-header a.navbar-brand,.footer-menu.footer-menu .navbar-header a.navbar-brand:hover,.footer-menu .navbar-header a.navbar-brand:focus{
    padding:0;
    height: 0;
}
.footer-menu ul.footer-menu-item{text-align: right;}
.footer-menu ul.footer-menu-item li{display: inline-block;}
.footer-menu ul.footer-menu-item li a {
    color: #859098;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 40px;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
}
.footer-menu ul.footer-menu-item li a:hover{color: #4D80B3 ;}
.hm-footer-copyright {
    padding: 40px 0;
    border-top: 1px solid #e1e5eb;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-social {text-align: right;}
.footer-social .fa-phone:before {
    position: relative;
    top: 2px;
}
.footer-social a ,.footer-social span {
    display: inline-block;
    color: #afb4bf;
    font-size: 14px;
    margin-left: 15px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #eef2f6;
    text-align: center;
    border-radius: 50%;
}
.footer-social span {margin-right:15px;margin-left: 0;color: #a5adb3;}
.footer-social span:hover{color: #6B85FF;}
.footer-social a:hover {background:#6B85FF;color: #fff;}

/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#6B85FF;
	border:1px solid #6B85FF;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:#4D80B3 ;
	border:1px solid #6B85FF;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
/*========================Thank you=================